@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Stack+Sans+Notch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&family=Silkscreen:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Stack+Sans+Notch:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&family=Silkscreen:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Stack+Sans+Notch:wght@500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border - box;
}

body {
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans - serif;
}

body {
  background-color: var(--bg);
}

:root {
  --bg: #0a0a0a;
  --headerText: #00ffff;
  --inputBg: #00ffff;
  --neon-cyan: #00f0ff;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.6vh;
  color: var(--headerText);
  margin: 1.4vw 6vh;
  width: 36%;
}

marquee>h1 {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.3vw;
  text-shadow: 0px 0px 5px var(--headerText);
}

header>h4 {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  margin-right: 2.5vw;
  text-shadow: 0px 0px 3px var(--headerText);
}

.main-screen {
  height: 35vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2.1rem;
}

.main-screen>input {
  padding: 2.5vh 10vw 2.5vh 50px;
  background-color: var(--inputBg);
  border: none;
  font-size: 1.1rem;
  color: black;
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  letter-spacing: 2px;
  box-shadow: 8px 8px 0px rgba(0, 255, 255, 0.425);
}

.main-screen>input::placeholder {
  font-size: 1rem;
  color: black;
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
}

.main-screen>button {
  padding: 2vh 3vw;
  font-size: 1rem;
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  background-color: var(--headerText);
  border: none;
  box-shadow: 8px 8px 0px rgba(0, 255, 255, 0.425);
  cursor: pointer;
  transition: linear 0.2s;
}

.main-screen>button:hover {
  background-color: rgb(1, 255, 1);
  box-shadow: 8px 8px 0px rgba(1, 255, 1, 0.514);

}
.reportScreen{
  width: 100%;
  display: flex;
  align-items: center ;
  justify-content: space-around;
}
.reportScreen>.passwordLength{
  color: var(--neon-cyan);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  border: .7px solid var(--neon-cyan);
  padding: 1.2vh 2vw;
  box-shadow: 8px 8px 0px rgba(0, 255, 255, 0.425);
}
.passwordLength>h5{
  font-family: "Share Tech Mono", monospace;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    font-size: .85rem;
}
#pass-recommended{
  color: rgb(165, 165, 165);
}

.reportScreen>.systemStatus {
  color: var(--neon-cyan);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  border: .7px solid var(--neon-cyan);
  padding: 1.2vh 2vw;
  box-shadow: 8px 8px 0px rgba(0, 255, 255, 0.425);
}

.systemStatus>h5 {
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  font-size: .85rem;
}
#sysStat-value{
  color: rgb(165, 165, 165);
}
.reportScreen>.estimateCrackTime {
  color: var(--neon-cyan);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  border: .7px solid var(--neon-cyan);
  padding: 1.2vh 2vw;
  box-shadow: 8px 8px 0px rgba(0, 255, 255, 0.425);
}

.estimateCrackTime>h5 {
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  font-size: .85rem;
}

.reportScreen>.characterType {
  color: var(--neon-cyan);
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  border: .7px solid var(--neon-cyan);
  padding: 1.2vh 2vw;
  box-shadow: 8px 8px 0px rgba(0, 255, 255, 0.425);
}

.characterType>h5 {
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  font-size: .85rem;
  margin-bottom: 1vh;
}
.characterType>h6 {
  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 2px;
  font-size: .85rem;
  color:rgb(165, 165, 165) ;
}
